#located in /etc/systemd/system/rclone.service. Sets rclone to boot at startup and mount /home/ec2-user/plexmedia to remote named plexmini:

[Unit]
Description=RClone Service
After=network-online.target

[Service]
Type=notify
KillMode=none
RestartSec=5
ExecStart=/usr/bin/rclone mount plexmini: /home/ec2-user/plexmedia \
--allow-other \
--allow-non-empty \
--dir-cache-time 1000h \
--log-file=/home/ec2-user/rclonelog.log \
--log-level INFO
ExecStop=/bin/fusermount -uz /home/ec2-user/plexmedia
Restart=on-failure
User=ec2-user
Group=ec2-user

[Install]
WantedBy=multi-user.target