#for reference https://github.com/animosity22/homescripts/blob/master/systemd/rclone.service < this service.conf is based on an older version and I had many issues getting it working. 
#located in /etc/systemd/system/rclone.service

[Unit]
Description=RClone Service
After=network-online.target

[Service]
Type=notify
KillMode=none
RestartSec=5
ExecStart=/usr/bin/rclone mount plexmini: /home/ec2-user/plexmedia \
--allow-other \
--allow-non-empty \
--dir-cache-time 1000h \
--log-file=/home/ec2-user/rclonelog.log \
--log-level INFO
ExecStop=/bin/fusermount -uz /home/ec2-user/plexmedia
Restart=on-failure
User=ec2-user
Group=ec2-user

[Install]
WantedBy=multi-user.target